body{
    text-align: left;
}

.side-bar{
    background-color: #212529;
    height: 100vh;
    padding-top: 40px;
}
.nav-link{
    color: #f8f9fa;
}
.product-bar{

}
 /* .row{
    height: 300px;
} */
.img{
    /* display: inline; */
    float: left;
    /* height: 100%;
    width: 100px; */
} 
.info-side{
    padding: 0 150px;
}
.btn{
margin: 0 20px;
}
.line
{
    color: white;
}

input{
    display: block;
    
}

.box{
    display: inline-block;
   margin: 50px;
}
/* .form {
    position:fixed;
    top: 50%;
    left: 50%;
    background-color:#eeeeee;
    border:5px solid #68ad0e;
    width:300px;
    height:130px;
    margin-left:-150px;
    margin-top:-65px;
} */

.overlay {
    position:absolute;
    display:none;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0, 0, 0, 0.8);
    z-index:9999;
   }
   .close {
    position:absolute;
    top:-40px;
    right:-5px;
    z-index:99;
    width:25px;
    height:25px;
    cursor:pointer;
    color: #fff;
    display: inline-block;
   }
   .popup {
    position:absolute;
    width:80%;
    height:50%;
    top:25%;
    left:15%;
    text-align:center;
    border-radius: 10px;
    background:white;
    box-shadow: 0px 0px 10px 0px black;
   }
   .popup h2 {
    font-size:15px;
    height:50px;
    line-height:50px;
    color:#fff;
    background:rgb(24, 108, 209);
    border-radius:10px 10px 0px 0px;
   }

   .drop-zone {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
